.card {
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);     
}

@media (min-width: 768px) {
.cards-container {
    position: relative;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .75s ease;
    background-color: #3b515e;
  }
  .cards-container:hover .overlay {
    opacity: .9;
  }
  .text {
    position: absolute;
    color: rgba(240, 222, 200, 1);
    font-size: 30px;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* white-space: nowrap; */
    text-align: center;
  }
}

@media (max-width: 767px) {
    .card-title {
        margin-top: 1rem;
    }
}