/* Colors
almond white: rgba(240, 222, 200, 1);
pastel brown: rgba(115, 103, 88, 1);
black coral: rgba(84, 95, 111, 1);
fern green: rgba(97, 114, 67, 1);
gray-asparagus: rgba(59, 94, 72, 1);
blue: rgba(59, 81, 94, 1);
*/

/* ----------------------------- GLOBAL ------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  color: rgba(84, 95, 111, 1);
  /* font-family: 'Tajawal', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Francois One', sans-serif; */
  /* font-family: 'Amatic SC', cursive; */
  margin-bottom: 60px; /* Margin bottom by footer height */
  /* background: green; */
}
a {
  color: rgba(84, 95, 111, 1);
}
a:hover {
  color: #3E4651; /* charcoal */
  text-decoration: none;
}

/* ------------------------- HEADER AND FOOTER---------------------- */
/*................header................*/
.pageHeader {
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 3rem;
}
.bg-primary {
  background: rgba(59, 81, 94, .8) !important;
}
.navbar {
  /* background: rgba(97, 114, 67, .7); */
  background: rgba(59, 94, 72, .7);
}
.navbar a {
  margin-bottom: 2em;
  color: rgba(240, 222, 200, 1) !important;
}

/* ---------------------------------MAIN---------------------------- */
/*................general................*/
.active {
  font-weight: bolder;
  font-style: italic; 
}
.border-primary {
  border-width: 1px !important;
  border-color: #363D47 !important;
}
.border-secondary {
  border-width: 2px !important;
  border-color: rgba(115, 103, 88, 1) !important;
}
.btn-primary {
  background-color: rgba(59, 94, 72, 1);
  border-color: rgba(59, 94, 72, 1);
}
.btn-primary:active {
  background-color: rgba(59, 94, 72, .8) !important;
  border-color: rgba(59, 94, 72, .8) !important;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 94, 72, 1) !important;
}
.btn-primary:hover {
  background-color: rgba(59, 94, 72, .9) !important;
  border-color: rgba(59, 94, 72, .9) !important;
}

.btn-light {
  background-color: rgba(226, 221, 221, 1);;
  border-color: rgb(226, 221, 221);
  color:rgba(59, 94, 72, 1);
  font-weight: bold; 
}
.btn-light:active {
  background-color: rgba(59, 94, 72, .8) !important;
  border-color: rgb(43, 65, 51) !important;
  color: rgb(226, 221, 221);
}
.btn-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 94, 72, 1) !important;
}
.btn-light:hover {
  background-color: rgba(59, 94, 72, .9) !important;
  border-color: rgb(43, 65, 51) !important;
  color: rgb(226, 221, 221);
}
/*................portfolio................*/
.portfolio-body {
  background: linear-gradient(0deg,rgba(253, 252, 250, .75), rgba(253, 252, 250, .75)), url("./images/cracked_soil.jpeg");
  /* color: rgba(240, 222, 200, 1); */
  text-align: center;
}
#portfolio-header {
  color: rgba(84, 95, 111, 1);
}

/*................resume................*/
/* Photo by Samuel Scrimshaw on Unsplash */
#resume-body {
  background: linear-gradient(0deg,rgba(253, 252, 250, .8), rgba(253, 252, 250, .8)), url("./images/samuel-scrimshaw-76646-unsplash.jpg");
  background-size: contain;
}
#profile-img {
  -webkit-box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.5);
}
/*................contact................*/
/* Photo by Jeremy Bishop on Unsplash */
#contact-body {
  background: linear-gradient(0deg,rgba(253, 252, 250, .8), rgba(253, 252, 250, .8)), url("./images/jeremy-bishop-282007-unsplash.jpg");
  background-size: contain;
}
/*................media.................. */
@media (min-width: 768px) {
  .jumbotron {
      padding: 10rem 2rem !important;
  }
}
@media (max-width: 768px) {
  .nav-link {
    padding: 0 !important;
  }
}
@media (min-height: 672px) {
  body {
    background: rgba(97, 114, 67, .5);
  }
}
